<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">

    <test name="All Test Cases">
        <classes>
            <class name="test.LoginPagesTest"/>
            <class name="test.ProductPagesTest"/>
            <class name="test.TestcasePagesTest"/>
            <class name="test.HomePagesTest"/>
            <class name="test.RegisterPagesTest"/>
            <class name="test.ContactPagesTest"/>
        </classes>
    </test>

</suite>
